* {
  margin: 0;
  padding: 0;
}

html,
body {
	height: 100%;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(fonts/IBMPlexMono-Medium.ttf);
}



h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
}

p {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 14px;
}

.header {
  width: 100%;
  height: 110px;
  background: #FFFFFF;
}

.nav-header {
  display: flex;
  max-width: 1161px;
  height: 26px;
  padding: 45px 140px 45px 140px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
}

.contacts-header {
  list-style: none;
  display: flex;
  gap: 24px;
}

.logo-header {
  width: 212.34px;
  height: 63.24px;
}

.contact-header {
  text-decoration: none;
  color: #000000;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.line-header {
  max-width: 100%;
  height: 1px;
  background: #A1A6B4;
}

.main {
  background: #F1F1F1;
  width: 100%;
}

.subtitle {
  margin: 0 auto;
  max-width: 1161px;
  color: #121723;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 48px;
  font-weight: 500;
  padding: 25px 0 24px 0;
}

.container__image {
  width: 364px;
  height: 254px;
  border-radius: 10px 10px 0 0;
}

.container__title {
  width: 323px;
  padding: 32px 24px 0 24px;
  color: #121723;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.container__text {
  padding: 0 24px 32px 24px;
  color: #121723;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.sneakers {
  margin: 0 auto;
  max-width: 1161px;
  min-height: calc(100vh - 142px);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;
}

.sneaker {
  display: inline-block;
}

.sneaker:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: 0.3s;
}

.info {
  width: 364px;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
}

.footer {
  padding-top: 25px;
  max-height: 142px;
  background: #121723;
  padding-bottom: 0;
}

.nav-footer {
  display: flex;
  max-width: 1161px;
  height: 26px;
  padding: 0px 140px 28px 140px;
  align-items: center;
  justify-content: space-between;
}

.logo-footer {
  width: 299.653px;
  height: 22.32px;
}

.contact-footer {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.contacts-footer {
  list-style: none;
  display: flex;
  gap: 24px;
}

.line-footer {
  margin: 0 auto;
  width: 1160px;
  height: 1px;
  background: #E6E8EC66;
}

.text-footer {
  padding-top: 18px;
  padding-bottom: 21px;
  color: #A1A6B4;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 375px) {
  .main {
    padding: 0 16px;
  }

  .subtitle {
    font-size: 32px;
    padding: 32px 0;
  }

  .header {
    width: 100%;
    height: 156px;
    background: #FFFFFF;
  }

  .nav {
    width: 343px;
  }

  .nav-header {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
  }

  .contacts-header {
    gap: 24px;
    align-items: flex-start;
  }
  
  .logo-header {
    width: 215px;
    height: 64px;
  }

  .footer {
    width: 100%;
    max-height: 195px;
    background: #121723;
  }

  .nav-footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 74px;
    gap: 32px;
  }

  .logo-footer {
    width: 300px;
    height: 22px;
  }

  .contacts-footer {
    gap: 24px;
    align-items: flex-start;
    max-height: 20px;
  }

  .line-footer {
    width: 343px;
    margin-top: 76px;
  }

  .text-footer {
    padding-top: 24px;
  }
  
}